---
import "normalize.css/normalize.css";
import "../style/global.scss";

import About from "../components/About.astro";
import Work from "../components/work/Work.astro";
import Members from "../components/members/Members.astro";
import JoinUs from "../components/JoinUs.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={"Human-Data Interaction Lab Website"} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>Welcome to Human-Data Interaction Lab</title>
  </head>
  <body>
    <Header />
    <main>
      <About />
      <Members />
      <Work />
      <JoinUs />
    </main>
    <Footer />
    <style lang="scss">
      body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </body>
</html>