@use "vars.scss";


body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 300;
  color: var(--c-text);
  line-height: 1.5;
  margin: auto;
}


p {
  margin: 0 0 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-neutral-header);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

#subtitle {
  padding-top: 2px;
  padding-bottom: 5px;
  /*margin-top: -20px;*/
  text-transform: none;
  font-weight: normal;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--c-link);
}

a:hover {
  text-decoration: none;
  color: var(--c-link-hover);
}

ul {
  padding-inline-start: 1.5rem;

  li {
    margin-bottom: 0.5rem;
  }
}