$color_link: #003366;

:root {
  --c-link: #{$color_link};
  --c-link-footer: #{lighten($color_link, 20%)};
  --c-link-hover: #{lighten($color_link, 30%)};
  --c-bright-header: #aa3d01;
  --c-neutral-header: #b1001d;
  --c-dark-header: #2b5865;
  --c-contrast-header: teal;
  --c-text: black;
  --c-background: white;
  --c-background-accent: #fff8f5;

  --s-content-width: 60rem;
  --mobile-content-width: 43rem;

  --section-padding: 0rem 1rem 3rem 1rem;
}