---

---

<div id="about">
  <h2>What are we about?</h2>
  <p>
    HuDa in arabic means "guidance".

    Our research lives at the intersection of data management and interactive systems.

    We study how we, humans, interact with data and we build tools that
    help us derive us value and insights from data more effectively.
  <p>
</p>
  <p>Our areas of focus change as researchers join or graduate from our lab. Currently, we are working on these three areas:
<ul>
  <li>Decision-making</li>
  We are building scalable systems for prescriptive analytics with uncertain data.
  We are also designing tools to support group decision-making.

  <li>Powering-up Users</li> We are working on tools that can fully automate data analysis pipelines,
  use examples to synthesize queries or scripts for specific data analysis tasks, or aid with the distillation
  of unstructured data such as documents. We dive into specific domains such as healthcare, education, finance, etc.

  <li>Mitigating Disinformation</li> We are studying how disinformers spread their narratives especially in the absence
  of data and how we can help mitigators detect, assess the threat of a disinformation campaign, and effectively respond to it.
</ul>

</div>

<style lang="scss">
  #about {
    margin: auto;
    padding: var(--section-padding);
    max-width: var(--s-content-width);
  }
</style>
