---

---

<div id="about">
  <h2>What are we about?</h2>
  <p>
    The goal of the Human-Data Interaction Lab (HuDa) is to research methods at
    the intersection of data management, data science, and interactive systems
    to enable the derivation of insights from data and to support data-driven
    decision-making. Our approach is human-centric in that we aim to understand
    how humans at any level of data-literacy (which include analysts,
    scientists, journalists, researchers, data enthusiasts) interact with data.
    Through this understanding, we build formalizations and systems that that
    make it easier for humans to effectively interact with data. HuDa, thus,
    addresses the critical bottleneck in today’s data analysis: this bottleneck
    is not the lack of data, or our ability to analyze it at scale, but the lack
    of human cognition and time to build and understand data processes.
  </p>
  <p>
    The HuDa Interaction Lab has made several research contributions in the
    following areas in the past years
  </p>
  <ul>
    <li>Novel querying paradigms for prescriptive analytics.</li>
    <li>Example-driven Interfaces for data tasks.</li>
    <li>Debugging complex data analytics.</li>
    <li>Teaching and democratizing data science.</li>
  </ul>
  <p>
    Incidentally, Huda in arabic means guidance. We hope to build tools that
    guide humans through better data analysis and data-driven decision-making.
  </p>
</div>

<style lang="scss">
  #about {
    padding: var(--section-padding);
    max-width: var(--s-content-width);
  }
</style>
