---
import areas from "../data/areas.json";
import Tag from "./papers/Tag.astro";
---

<div id="about">
  <h2>What are we about?</h2>
  <p>
    HuDa in arabic means "guidance". Our research lives at the intersection of
    data management and interactive systems. We study how we, humans, interact
    with data and we build tools that help us derive us value and insights from
    data more effectively.
    <p></p>
    <p>
      Our areas of focus change as researchers join or graduate from our lab.
      Currently, we are working on these three areas:
    </p>
      <ul id="areas">
        {
          Object.entries(areas).map(([id, val]) => (
            <li class="area">
              <div class="tag"><Tag id={val.key} /></div>
              <!--<div class="title">{val.title}</div>-->
              {val.description}
            </li>
          ))
        }
      </ul>


    <style lang="scss">
      #about {
        margin: auto;
        padding: var(--section-padding);
        max-width: var(--s-content-width);

        #areas {
          list-style-type: none;
          padding-left: 0.5rem;
          .title {
            display: block;
            font-weight: 500;
          }
        }
      }
    </style>
</div>
