<footer>
  <div id="footer-content">
    A1 - 1103 // <a href="https://nyuad.nyu.edu">New York University, Abu Dhabi</a>
    // P.O.Box 129188 // <a href="https://huda-lab.github.io"
      >huda-lab.github.io</a
    >
  </div>
</footer>

<style lang="scss">
  footer {
    margin: auto;
    background-color: var(--c-text);
    width: 100%;

    #footer-content {
      color: var(--c-background);
      padding: 2rem 1rem;
      margin: auto;
      max-width: var(--s-content-width);

      a {
        color: var(--c-link-footer);
        &:hover {
          color: var(--c-link-hover);
        }
      }
    }
  }
</style>
