---

---

<div id="joinus">
  <h2>Join Us</h2>
  <p>
    Want to a be Research Assistant, post-doc, graduate or undergraduate
    researcher at the HuDa Interaction Lab. <a href="https://forms.gle/S8x5JMKaZpRcZrig7" target="_blank">Apply here</a>.
  </p>
  <div id="research-test">Research on crypto frosting - 
    <a class="test-link" href="https://medium.com/@moigirrafe/crypto-frosting-protocol-12fd52680965" target="_blank">Check Medium article</a>.
    <a class="test-link" href="https://cryptofrosting.jamma.tech/" target="_blank">Website</a>.
  </div>
</div>

<style lang="scss">
  #joinus {
    margin: auto;
    max-width: var(--s-content-width);
    padding: var(--section-padding);
  }
  #research-test {
    font-size: 0.8em;
    color: white !important;
    .test-link {
      color: white !important;
    }
  }
</style>
