---

---

<div id="joinus">
  <h2>Join Us</h2>
  <p>
    Want to a be Research Assistant, post-doc, graduate or undergraduate
    researcher at the HuDa Interaction Lab - we are hiring! Please email the PI.
  </p>
</div>

<style lang="scss">
  #joinus {
    max-width: var(--s-content-width);
    padding: var(--section-padding);
  }
</style>
