---
import { timeParse } from "d3-time-format";
import news from "../data/news.json";
let parseDate = timeParse("%B %d, %Y");

news.sort((a, b) => (parseDate(a.date) < parseDate(b.date) ? 1 : -1));
---

<div id="news">
  <h2>Latest News</h2>
  <div id="newsroll">
    {
      news.map((n) => (
        <div class="news-item">
          <div class="newsdate">{n.date}</div>
          <div class="headline">
            <a href={n.link}>{n.headline}</a>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  #newsroll {
    max-height: 20rem;
    min-width: 15rem;
    overflow-y: auto;
  }
  #newsroll::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }
  #newsroll::-webkit-scrollbar-button {
    display: none;
  }
  #newsroll::-webkit-scrollbar-track-piece {
    background: #dadada;
  }
  #newsroll::-webkit-scrollbar-thumb {
    background: #aaa;
  }

  .news-item {
    margin-bottom: 10px;
  }

  .newsdate {
    color: var(--c-bright-header);
  }
</style>
