---
const { entry } = Astro.props;
let { Content } = await entry.render();
const data = entry.data;
---

<div class="paper">
  <!--
  {
    data.thumbnail && (
      <figure class={"paper-image " + data.status}>
        <img src={data.thumbnail} alt="paper Thumbnail" />
      </figure>
    )
  }-->
  <!-- TODO: Sort papers in descending order by year-->
  <div class="paper-content">
    <div class="paper-title">{data.title}</div>
    <div class="paper-authors">{data.authors.join(", ")}</div>
    <!-- TODO: What we need instead here are tags, links and a special emoji for awards! --->
    <!--
    {
      Content && (
        <div class="paper-description">
          <Content />
        </div>
      )
    }-->
  </div>
  <!-- TODO: We can show top 10 and then more to show more ... -->
</div>

<style lang="scss">
  .paper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-left: 5px solid #f0f0f0;

    figure {
      margin: 0;
      padding: 0;
      text-align: center;

      img {
        width: 100%;
        object-fit: cover;
        max-height: 10rem;
        min-height: 100%;
      }
    }

    @media (max-width: 35rem) {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .paper-content {
    flex-grow: 1;
    padding: 0.5rem;

    .paper-title {
      color: var(--c-neutral-header);
    }
    .paper-description {
      font-size: 80%;
    }
    .paper-authors {
      color: var(--c-bright-header);
      font-size: 80%;
    }
  }
</style>
