---
const { data } = Astro.props;
---

<div class="project">
  {
    data.thumbnail && (
      <figure class={"project-image " + data.status}>
        <img src={data.thumbnail} alt="Project Thumbnail" />
      </figure>
    )
  }

  <div class="project-content">
    <div class="project-title">{data.title}</div>
    <div class="project-subtitle">{data.subtitle}</div>
    <div class="project-authors">{data.authors.join(", ")}</div>
  </div>
</div>

<style lang="scss">
  .project {
    display: flex;
    flex-direction: row;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

    figure {
      margin: 0;
      padding: 0;
      text-align: center;

      img {
        width: 100%;
        object-fit: cover;
        max-height: 10rem;
        min-height: 100%;;
      }
    }

    @media (max-width: 35rem) {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .project-content {
    flex-grow: 1;
    padding: 0.5rem;

    .project-title {
      color: var(--c-neutral-header);
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .project-subtitle {
      margin-bottom: 1rem;
    }
    .project-authors {
      color: var(--c-bright-header);
      font-size: 80%;
    }
  }
</style>
