---
const { project } = Astro.props;
---

<div class="project">
  <figure class={"project-image " + project.data.status}>
    <img src={project.data.thumbnail} alt="Project Thumbnail" />
  </figure>

  <div class="project-content">
    <div class="project-title">{project.data.title}</div>
    <div class="project-subtitle">{project.data.subtitle}</div>
    <div class="project-authors">{project.data.authors.join(", ")}</div>
  </div>
</div>

<style lang="scss">
  .project {
    border-radius: 0.2rem;
    border: 1px solid var(--c-background-accent);
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    figure {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: var(--c-background);
      text-align: center;

      img {
        width: 100%;
      }
    }
  }

  .project-content {
    padding: 0.5rem;

    .project-title {
      color: var(--c-neutral-header);
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .project-subtitle {
      margin-bottom: 1rem;
    }
    .project-authors {
      color: var(--c-bright-header);
      font-size: 80%;
    }
  }
</style>
