---
const { entry } = Astro.props;
const { Content } = await entry.render();
const data = entry.data;
---

<div class="research-area">
  <div class="title">{data.title}</div>
  <div class="content">
    <Content />
    {
      data.papers && (
        <div class="papers">
          <h3>Papers</h3>
          {data.papers.map((paper) => (
            <a class="paper" href={paper.ref}>
              <div class="title">{paper.txt}</div>
              <div class="authors">{paper.authors.join(", ")}</div>
            </a>
          ))}
        </div>
      )
    }
  </div>
</div>

<style lang="scss">
  .research-area {
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;

    &:last-child{
      margin-bottom: 0;
    }

    color: var(--c-text);
    display: flex;
    flex-direction: column;

    > .title {
      background-color: rgb(226, 240, 247);
      padding: 0.5rem;
      text-transform: uppercase;
    }
  }

  .content {
    padding: 0.5rem;

    .description {
      margin-bottom: 1rem;
    }
    .papers {
      .paper {
        display: block;
        margin-left: 1rem;
        color: var(--c-text);

        .title {
        }

        .authors {
          color: var(--c-bright-header);
          font-size: 80%;
        }
      }
    }
  }
</style>
