---

---

<div id="teaching">
  <h2>Teaching</h2>
  <p>
    In our efforts to increase data-literacy and engage students in human-data
    interaction research, we have designed and taught the following courses:
  </p>
  <ul style="margin-bottom: 0">
    <li>
      <a href="https://azzadev.github.io/dbcrsbook"
        >An Online Database Systems Course for NYUAD</a
      >
    </li>
    <li>
      <a
        href="https://huda-lab.github.io/syllabi/Data-Syllabus-Abouzied-2016.pdf"
      >
        Core X Data
      </a>
    </li>
    <li>
      <a
        href="https://huda-lab.github.io/syllabi/Capstone-InteractiveSystems-SyllabusSpring2019.pdf"
      >
        Capstone: Systems for Interactive Data Analysis
      </a>
    </li>
  </ul>
</div>

<style lang="scss">
  #teaching {
    max-width: var(--s-content-width);
    padding: var(--section-padding);
  }
</style>
