---
import Project from "./Project.astro";
import ResearchArea from "./ResearchArea.astro";
import { getCollection, getEntryBySlug } from "astro:content";
const projects = await getCollection("projects");
const researchAreas = await getCollection("research-areas");
---

<div id="projects-list">
  <a class="anchor" id="projects-label"></a>
  <h2>Active Research Areas</h2>
  <div class="research-areas">
    {
      researchAreas
        .filter((e) => e.data.status == "active")
        .map((e) => <ResearchArea entry={e} />)
    }
  </div>

  <br />

  <h3>Past Projects</h3>
  <div class="projects">
    {
      projects
        .filter((p) => p.data.status == "archive" && p.data.status !== "hidden")
        .map((p) => <Project data={p.data} />)
    }
  </div>
</div>

<style lang="scss">
  #projects-list {
    max-width: var(--s-content-width);
    padding: var(--section-padding);

    .projects {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      @media (min-width: 25rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      @media (min-width: 60rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
</style>
