---
import Paper from "./papers/Paper.astro";
import { getCollection } from "astro:content";
let papers = await getCollection("papers");
papers = papers.sort((a, b) => {
  const dateA = new Date(a.data.when + "-01");
  const dateB = new Date(b.data.when + "-01");
  if (dateA < dateB) return 1;
  if (dateA > dateB) return -1;
  return 0;
});
---

<div id="work">
  <h3>Recent Papers</h3>
  <div class="publications">
    {
      papers.map((p, index) => (
        <div class={index >= 10 ? "paper hidden" : "paper"} client:visible>
          <Paper entry={p} />
        </div>
      ))
    }
    <button type="button" id="show-more-publications">Show More</button>
  </div>
</div>

<script>
  const button = document.getElementById("show-more-publications");
  const hiddenPapers = document.querySelectorAll(".hidden");
  button.onclick = () => {
    hiddenPapers.forEach((paper) => {
      paper.classList.toggle("hidden");
    });
    button.textContent =
      button.textContent === "Show More" ? "Show Less" : "Show More";
  };
</script>

<style lang="scss">
  #work {
    margin: auto;
    max-width: var(--s-content-width);
    padding: var(--section-padding);

    .publications {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      @media (min-width: 25rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      @media (min-width: 60rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
    .hidden {
      display: none;
    }

    #show-more-publications {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background-color: var(--c-link);
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: var(--c-link-hover);
      }
    }
  }
</style>
