---
import Paper from "./Paper.astro";
import ResearchArea from "./ResearchArea.astro";
import { getCollection } from "astro:content";
const papers = await getCollection("papers");
---

<div id="work">
  <h3>Recent Papers</h3>
  <div class="publications">
    {
      papers
        .filter((p) => !p.data.hidden)
        .map((p) => <Paper entry={p} />)
    }
  </div>
</div>

<style lang="scss">
  #work {
    margin: auto;
    max-width: var(--s-content-width);
    padding: var(--section-padding);

    .publications {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      @media (min-width: 25rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      @media (min-width: 60rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
</style>
