---
import Paper from "./papers/Paper.astro";
import { getCollection } from "astro:content";
let papers = await getCollection("papers");
papers = papers.sort((a, b) => {
  const dateA = new Date(a.data.when + "-01");
  const dateB = new Date(b.data.when + "-01");
  if (dateA < dateB) return 1;
  if (dateA > dateB) return -1;
  return 0;
});
---

<div id="work">
  <h3>Recent Papers</h3>
  <div class="publications">
    {papers.map((p) => <Paper entry={p} />)}
    <!-- TODO: We can show top 10 and then more to show more ... -->
  </div>
</div>

<style lang="scss">
  #work {
    margin: auto;
    max-width: var(--s-content-width);
    padding: var(--section-padding);

    .publications {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      @media (min-width: 25rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      @media (min-width: 60rem) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
</style>
